---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Speed to Law.">
  <main class="">
    <img
      src="/speed-to-law.png"
      alt="Astro logo"
      class="max-h-dvh aspect-auto mx-auto sm:p-24 p-12"
    />
  </main>
</Layout>
